@use '../../styles/layout/container' as container;

@mixin bannerBase{
   position: relative;
    min-height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../../../public/Images/banners/homepagebanner.png);
    background-position: top;
    background-position-x: center; 
    // text-align: center;
    vertical-align: middle;
    align-items: center;
    margin-bottom: -10px;
    padding-bottom: 50px;
}

@mixin banner-text($columns){
    color: white;
}
.section-left{color:white;}
.banner{
    @include container.mobile{
        @include bannerBase;
        // background-size: contain;
        // min-height: fit-content;
        background-position-x: center;
        background-size: cover;
        background-position-x: right;
        padding: 2px;
    }
    @include container.tablet{
        @include bannerBase;
        min-height: 100%;
        background-size:cover;
        background-position: top;
        background-position-x: right;
    }
    @include container.desktop{
       @include bannerBase;
    background-size: cover;
    background-position: top;
     
    display: flex;
    align-items: center;      
    justify-content: flex-start; 
    padding: 0 8%;
    }
}
.Wedding-text{color:deeppink;}
.banner-text{
          position: relative;
    z-index: 2;
    @include container.mobile{
        @include banner-text(1);
         padding: 1px 1px 1px;
    //   align-items: flex-start;
    font-size: smaller;
    // margin-top: -30px;

    }
    @include container.tablet{
        @include banner-text(2);
    }
    @include container.desktop{
        @include banner-text(1);
    }
}

