@use '../../styles/layout/grid' as grid;
@use '../../styles/layout/container' as container;

.wrapper{
    display: grid;
    margin-top: 60px;
    @include container.mobile{

    }
    @include container.tablet{
        grid-template-columns: 75% 25%;
        gap: 1rem; 
    }
        @include container.desktop{
                grid-template-columns: 75% 25%;
        gap: 1rem; 
    }
}