// @use '@angular/material' as mat;

// html {
//   @include mat.theme((
//     color: (
//       primary: mat.$rose-palette,
//       tertiary: mat.$yellow-palette,
//     ),
//     typography: Roboto,
//     density: 0,
//   ));
// }

// body {
//   margin: 0;
//   overflow-x: hidden;
//   font-family: Roboto, Arial, sans-serif;
// }
// :root {
//   --wp-hot-pink: #ff1493;
// }

// .vendor-btn {
//   background: var(--wp-hot-pink) !important;
//   color: white !important;
// }
// @use './styles/themes/wptheme';
@use './styles/abstracts/colors' as colors;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@import "../public/assets/Fonts/poppins.woff2.css";
.logo{color:colors.$hotpink;cursor: pointer;}
.stars{color:yellow;font-weight: 600;}
.mat-mdc-text-field-wrapper,.mat-mdc-card {
  background-color: #fff !important;
}
body {
  margin:0;
  overflow-x:hidden;
  font-family: 'Poppins', sans-serif;
  max-width: 100vw;
}
.mat-icon{
  @extend .material-symbols-outlined !optional;
  vertical-align: middle;
}
.mat-mdc-form-field {
  width: 100%;
  min-width: 100%;
}
.bookmarkIcon{background-color: colors.$gray-100;cursor: pointer; border-radius: 50%;margin-top:5px;position: absolute;left: 85%;z-index: 777!important}